;ppm-etp config
;-------------------------------------------------------------------------------
;;#KC_main
; everything検索一行編集
$search = ^F

;;everything Whereis
;$where = \w

;;everything Whereis(option付き)
$whereopt = \w

;;#_User
;;ポート番号
@ETP_PORT = 22

;;詳細検索時の最大回答数(PPc の Where is)
@ETP_FULL = 10000

;;簡易検索時の最大回答数(一行編集のパス補完)
@ETP_PART = 50

;;#S_ppm#user
;;everythingのインストールディレクトリ
@etp_path =

;;everithing検索一行編集の開始点横位置
?sw = 0

;;everithing検索一行編集の開始点縦位置
?sh = 0

;;everithing検索一行編集の横幅
?ew = 1360

;;everithing検索一行編集の縦幅
?eh = 66

;;everithing検索一行編集の候補リストの行数
?line = 45

;[section]
;K_ppe = {
;FIRSTEVENT , *completelist -set -module:off
;}
;K_lied = {
;FIRSTEVENT , *completelist -set -module:off
;}
;_User = {
;ETP_USER =
;ETP_PASS =
;}
;[endsection]

;[linecust]
; ETPサーバの起動設定
;etp,KC_main:FIRSTEVENT,*if !%%*findwindowclass("EVERYTHING_(ETP)")%%:*string o,path=%%*getcust(S_ppm#user:etp_path)%%:*ifmatch !0,0%%sgo"path"%%:*run -d:%%sgo"path" Everything.exe -minimized -admin -instance ETP -connect localhost:%%*getcust(_User:ETP_PORT) -drive-links
;[endlinecust]
;-------------------------------------------------------------------------------
;[execute]
;[endexecute]
;-------------------------------------------------------------------------------
; @nameは設定値です。コメントアウト又は空にすることで初期値を適用します
; @nameの値は複数行に記述できます。二行め以降はTAB文字で開始する必要があります
; $nameは設定キーです。コメントアウト又は空にすることでキー設定を無効化できます
; $nameの値は一行に収めてください
; ?nameは設定値です。コメントアウト又は空にすることで初期値を適用します
; ?nameの値は一行に収めてください
; [section]と[endsection]の間には自由に設定を追加できます
; [section]内で追加するテーブル項目は削除時には通常プロパティ単位で削除しますが
;   ID名の頭に"-"を付けるとテーブルごと削除します
;   テーブルの削除のみが目的の場合は"-<ID> ="とします
;   A_xxx,X_xxx,XB_xxx,XC_xxx,XV_xxx,KC_main,KV_mainは削除対象外です
; [section]の冒頭に"/<name> = <value>"が記述されていると[section]内の[/<name>]を
;   <value>に置換します。正規表現を使用しているため<name>にはメタ文字の使用を
;   避け、英数字を使ってください
; [linecust]と[endlinecust]の間には*linecustを設定できます
;   "<label>,<ID[:SubID]><=param|,command>"の形式で記述します
;   複数行の既述はできません
; [execute]と[endexecute]の間にはコマンドを設定できます
;   コマンドはPPx.Execute()にそのまま代入され、*ppmSet、*ppmSetup実行時に
;   一行ずつ順番に実行されます
;-------------------------------------------------------------------------------
; vim:tw=79:ts=8:sw=8:sts=0:norl:noet:fen:ft=PPxcfg
