;ppm-etp config
;
; @name、?nameはコメントアウト又は空にするとデフォルト値が適用されます
; $nameはコメントアウト又は空にすることで無効化できます
; [section]と[endsection]の間には自由に設定を追加できます
; [section]内で追加するテーブル項目は削除時には通常プロパティ単位で削除しますが、
; メニューラベルの頭に"-"を付けるとテーブルごと削除します
; テーブルの削除のみが目的の場合は"-ラベル ="とします
; [linecust]と[endlinecust]の間には"label,command"の書式で*linecustを設定可能
; [linecust]内%のエスケープに%(%)は使わないでください。コマンドが重複して
; 登録される可能性があります
;-------------------------------------------------------------------------------

;#KC_main
; everything検索一行編集キー
$search = ^F

; everything Whereisキー
;$where = \w

; everything Whereis(option付き)キー
$whereopt = \w

;#_User
; ポート番号
@ETP_PORT = 22

; 詳細検索時の最大回答数(PPc の Where is)
@ETP_FULL = 10000

; 簡易検索時の最大回答数(一行編集のパス補完)
@ETP_PART = 50

;#S_ppm#user
; everythingのインストールディレクトリ
@etp_path =

; everithing検索一行編集の開始点横位置
?sw = 0

; everithing検索一行編集の開始点縦位置
?sh = 0

; everithing検索一行編集の横幅
?ew = 1360

; everithing検索一行編集の縦幅
?eh = 66

; everithing検索一行編集の候補リストの行数
?line = 45

;[section]
;_User = {
;ETP_USER =
;ETP_PASS =
;}
;[endsection]

;[linecust]
;ETPサーバの起動設定
;etp,KC_main:FIRSTEVENT,*if !%%*findwindowclass("EVERYTHING_(ETP)")%%:*string o,path=%%*getcust(S_ppm#user:etp_path)%%:*ifmatch !0,0%%sgo"path"%%:*run -d:%%sgo"path" Everything.exe -minimized -admin -instance ETP -connect localhost:%%*getcust(_User:ETP_PORT) -drive-links
;[endlinecust]
